<section id="admin-new-cats">
	<div class="container well">
		<div class="row">
			<div class="col-md-6 text-center" style="padding-top: 25px">
				<label for="new-cat">New Category here!</label>
				<input type="text" id="new-cat" ng-model="newCat.name"/>
			</div>
			<div class="col-md-3 text-center" style="padding-top: 25px">
				{{categoryComms.msg}}
			</div>
			<div class="col-md-3 text-center" style="padding-top: 25px">
				<button class="btn btn-success"
				 ng-click="newCategory(newCat)">Add Category</button>
			</div>
		</div>
	</div>
</section>
<section id="admin-cats" ng-repeat="brand in categoryData.brands | orderBy: 'name'">
	<div class="container well">
		<div class="row">
			<div class="col-md-9 text-center" style="padding-top: 25px">
				{{brand.name}}
			</div>
			<div class="col-md-3 text-center" style="padding-top: 25px">
				<button class="btn btn-danger">Delete</button>
			</div>
		</div>
	</div>
</section>