<section id="admin_orders" ng-repeat="item in items.data">
	<div class="container well">
		<div class="row">
			<div class="col-md-3 text-center">
				{{item}}
			</div>
			<div class="col-md-3 text-center" style="padding-top: 50px">
				Orders Directive!
			</div>
			<div class="col-md-3 text-center" style="padding-top: 55px">
				
			</div>
			<div class="col-md-3 text-center" style="padding-top: 50px">
				<button class="btn btn-success">Submit Changes</button>
				<button class="btn btn-info">  </button>
			</div>
		</div>
	</div>
</section>