<section id="admin-new-cats">
	<div class="container well">
		<div class="row">
			<form id="new-cat-form" name="newCatForm" 
			 			ng-submit="newCatForm.$valid && newCategory(newCat)" novalidate>
				<div class="col-md-5 text-center" style="padding-top: 25px">
					<label for="new-cat">Enter New Category Here!</label>
					<input type="text" id="new-cat" required ng-model="newCat.name"/>
				</div>
				<div class="col-md-4 text-center" style="padding-top: 25px">
					{{categoryComms.msg}}
				</div>
				<div class="col-md-3 text-center" style="padding-top: 25px">
					<button class="btn btn-success" type="submit">Add Category</button>
				</div>
			</form>
		</div>
	</div>
</section>
<section id="admin-cats" ng-repeat="brand in categoryData.brands | orderBy: 'name'">
	<div class="container well">
		<div class="row">
			<div class="col-md-9 text-center" style="padding-top: 25px">
				{{brand.name}}
			</div>
			<div class="col-md-3 text-center" style="padding-top: 25px">
				<button class="btn btn-danger">Remove Category</button>
			</div>
		</div>
	</div>
</section>