
	<div class="container well">
		<div class="row">
			<div class="col-md-6">
				<h1>{{ product.name }}</h1>
				<img ng-src="{{ product.image }}" width="500px" alt="shoe"/>
			</div>
			<div class="col-md-6">
				<div class="text-right">
				<style>
				#xBtn {
					border-radius: 25px;
					margin-right: 30px;
				}

				</style>
				<button id="xBtn" class="btn btn-warning btn-lg" ng-click="showInfo()">X</button>
				</div>
				<div style="padding-top: 100px">
					<p class="lead">{{ product.price | currency }}<p>
					<p class="lead">{{ product.category }}</p>
					<p class="lead">{{ product.description }}</p>
					<button class="btn btn-success"> Add to Cart </button>
				</div>
<!-- 				<h4 ng-show="!product.availability" style="color: red"> Out of Stock </h4> -->
			</div>
		</div>
		<section>
		<div ng-controller="PanelController" style="padding-top: 50px">
			<ul class="nav nav-pills">
			<li ng-class="{ active: isSelected(1) }">
				<a href ng-click="selectedTab(1)">
				Description</a>
			</li>
			<li ng-class="{ active: isSelected(2) }">
				<a href ng-click="selectedTab(2)">
				Category</a>
			</li>
			<li ng-class="{ active: isSelected(3) }">
				<a href ng-click="selectedTab(3)">
				Reviews</a>
			</li>
			</ul>

			<div class="panel well" ng-show="isSelected(1)">
				<h4>Description</h4>
				<p>{{ product.description }}</p>
			</div>
			<div class="panel well" ng-show="isSelected(2)">
				<h4>Category</h4>
				<p>{{ product.category }}</p>
			</div>
			<div class="panel well" ng-show="isSelected(3)">
				<h4>Past Reviews</h4>
				<p>{{ product.name }}</p>
				<blockquote ng-repeat="review in product.Reviews">
					<b>Stars:</b> {{ review.stars }}</p>
					<p><b>Review:</b> {{ review.body }}</p>
					
					<cite><p><b>by:</b> {{ review.author }}</p></cite>
				</blockquote>

				<form name="reviewForm" ng-controller="ReviewController" ng-submit="reviewForm.$valid && addReview(product)" nonvalidate>
						<blockquote>
							<h3>Review</h3>
							<p><b>Your Star Rating:</b> {{ review.stars }}</p>
							<p><b>Your Review:</b> {{ review.body }}</p>
							<cite><b>by:</b> {{ review.author }}</cite>
						</blockquote>
					<div class="form-group">
						<select ng-model="review.stars" class="form-control" required>
							<option value="" disable selected style="display:none">Select Star Rating</option>
							<option value="1">1 star</option>
							<option value="2">2 stars</option>
							<option value="3">3 stars</option>
							<option value="4">4 stars</option>
							<option value="5">5 stars</option>
						</select>
					</div>
					<div class="form-group">
						<label for="reviewForm">Enter Your Review</label>
						<textarea id="reviewForm" class="form-control" rows="5" ng-model="review.body" required></textarea>
					</div>
					<div class="form-group">
						<label for="reviewAuthor">by:</label>
						<input id="reviewAuthor" class="form-control" ng-model="review.author" type="email" required />
						<div>reviewForm is {{reviewForm.$valid}}</div>
					</div>
					<input type="submit" class="btn btn-success" ng-click="postReview(reviewForm)" value="Submit Review" />
				</form>
			</div>

		</div>
		</section>
	</div>
</html>