#create-form {
  width: 70%;
  margin: 0 auto;
  font-color: red;
  padding-right: 50px;
}

// #hr-vertical {
// 	color: black;

// 	 // width: 5px;
// 	height: 10%;
// }

#signup-heading {
	padding-bottom: 50px;
}

.vertical-line {
	border-right-style: solid;
	border-color: gray;
	border-height: 100%;
	border-width: 1px;
}



#btn-facebook { 
	margin-top: 90px;
	a {
	color: #ffffff;}
}

