<!DOCTYPE html>
<html ng-app="store">
	<head>
		<link rel="stylesheet" type="text/css" href="../../../bower_components/bootstrap/dist/css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="styles.css" />
	<head>
	<body ng-controller="StoreController">
		<div ng-hide="product.soldOut" ng-repeat="product in products">
			<ul class="list-group">
				<li class="list-group-item">
					<h1>{{ product.name }}</h1>
					<em class="pull-right">{{ product.price | currency }}</em>
					<!-- <img ng-src="{{ product.image[0].full }}"/> -->
					<p>{{ description }}</p>
					<button ng-show="product.canPurchase"> Add to Cart </button>
				</li>
			</ul>
		</div>	
			<section ng-controller="PanelController as panel">
				<ul class="nav nav-pills">
					<li ng-class="{ active: panel.isSelected(1) }">
						<a href ng-click="panel.selectTab(1)">Description</a>
					</li>
					<li ng-class="{ active: panel.isSelected(2) }">
						<a href ng-click="panel.selectTab(2)">Specification</a>
					</li>
					<li ng-class="{ active: panel.isSelected(3) }">
						<a href ng-click="panel.selectTab(3)">Reviews</a>
					</li>
				</ul>

				<div class="panel" ng-show="panel.isSelected(1)">
					<h4>Description</h4>
					<p>{{product.description}}</p>
				</div>
				<div class="panel" ng-show="panel.isSelected(2)">
					<h4>Specification</h4>
					<p>{{product.price}}</p>
				</div>
				<div class="panel" ng-show="panel.isSelected(3)">
					<h4>Reviews</h4>
					<p>{{product.name}}</p>
					<blockquote ng-repeat="review in product.reviews">
						<b>Stars: {{review.stars}}</b>
						{{review.body}}
						<cite>by: {{review.author}}</cite>
					</blockquote>

					<form name="reviewForm" ng-controller="ReviewController as reviewCtrl"
											ng-submit="reviewForm.$valid && reviewCtrl.addReview(product)" nonvalidate>
						<blockquote>
							<b>Stars: {{reviewCtrl.review.stars}}</b>
							{{reviewCtrl.review.body}}
							<cite>by: {{reviewCtrl.review.author}}</cite>
						</blockquote>
						<select ng-model="reviewCtrl.review.stars" required>
							<option value="1">1 star</option>
							<option value="2">2 stars</option>
							<option value="3">3 stars</option>
							<option value="4">4 stars</option>
							<option value="5">5 stars</option>
						</select>
						<textarea ng-model="reviewCtrl.review.body" required></textarea>
						<label>by:</label>
						<input ng-model="reviewCtrl.review.author" type="email" required />
						<div>reviewForm is {{reviewForm.$valid}}</div>
						<input type="submit" value="Submit" />
					</form>
				</div>
			</section>
		
		<script type="text/javascript" src="../../../bower_components/angular/angular.min.js"></script>
		<script type="text/javascript" src="product.js"></script>
	</body>
</html>