navbar {

  display: block;
  background: #a1a1a1;

  fullstack-logo {
    padding-top: 10px;
    margin-right: 20px;
    width: 30px;
  }

  a {
    color: white;
    &:hover {
      color: white;
    }
  }

  .nav > li > a {
    cursor: pointer;
    &.active {
      color: #f30046;
    }
    &:hover {
      transition: color 0.2s;
    }
    &:focus {
      color: #f30046;
      background: transparent;
    }
  }

  .login-button {
    float: right;
    margin-top: 8px;
  }

  .welcome {
    float: right;
    margin-top: 12px;
    span {
      color: white;
    }
    a {
      color: #f30046;
      cursor: pointer;
    }
  }

  .navbar-fixed-top {
    height: 65px;
  }
 .navbar-brand {
    font-size: 40px;
    padding-top: 20px;
    font-family: 'Shadows Into Light', cursive;
  }
  .navbar-nav {
        padding-top: 8px;
        padding-right: 20px;
  }
  .login-button{
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 10px;
  }
  .nav > li > a {
    font-size: 18px; }
      .nav > li > a:link {
    color: #ffffff; }
  .nav > li > a.active {
      color: #ffffff; }
  .nav > li > a:focus {
      color: #ffffff; }
  .glyphicon {
    font-size: 40px;
    color: orange;
    margin-top: 10px;
    padding-right: 8px;
  }
  .glyphicon:hover {
    color: #FF6600;
  }
  #cartLink {
    text-decoration: none;
  }
  #cartLink:hover {
    color: #FF6600;
  }

  #cartItemCounter {
    color: #ffffff;
  }
}

html {
  position: relative;
  min-height: 100%;
}
body {
  padding-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: orange;
  color: white;
  display: block;
  text-align: center;
}

.alert-success {
  position: absolute;
  top: 42px;
  left: 15px;
  width: 250px;
}
