navbar {

  display: block;
  background: #a1a1a1;

  fullstack-logo {
    padding-top: 10px;
    margin-right: 20px;
    width: 30px;
  }

  a {
    color: white;
    &:hover {
      color: white;
    }
  }

  .nav > li > a {
    cursor: pointer;
    &.active {
      color: #f30046;
    }
    &:hover {
      transition: color 0.2s;
    }
    &:focus {
      color: #f30046;
      background: transparent;
    }
  }

  .login-button {
    float: right;
    margin-top: 8px;
  }

  .welcome {
    float: right;
    margin-top: 12px;
    span {
      color: white;
    }
    a {
      color: #f30046;
      cursor: pointer;
    }
  }

  .navbar-fixed-top {
    height: 65px;
  }
 .navbar-brand {
    font-size: 40px;
    padding-top: 20px;
  }
  .navbar-nav {
        padding-top: 8px;
        padding-right: 20px;
  }
  .login-button{
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 10px;
  }
  .nav > li > a {
    font-size: 18px; }
  .nav > li > a.active {
      color: #ffffff; }
  .nav > li > a:focus {
      color: #ffffff; }
}