<section id="cart" ng-controller="CartController" ng-repeat="item in cart.items" >
		<div class="row">
		<div class="col-md-3 text-center">
			<img ng-src="{{ item.image }}" width="200px" alt="shoe"/>
		</div>
		<div class="col-md-3 text-center" style="padding-top: 50px">
			<h4>{{ item.name }}</h4>
		</div>
		<div class="col-md-3 text-center" style="padding-top: 55px">
			<p class="lead">{{ item.price | currency }}<p>
		</div>
		<div class="col-md-3 text-center" style="padding-top: 50px">
			<button class="btn btn-success" ng-click='removeFromCart(item)'> Remove From Cart </button>
		</div>
	</div>
</div>
</section>
		<div class="col-md-3 text-center" style="padding-top: 55px">
			<p class="lead"> Order Total {{ cart.price | currency }}<p>
		</div>
